@font-face {
  font-family: light;
  src: url(fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: bold;
  src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: comic;
  src: url(fonts/ComicNeue-Bold.ttf);
}
@font-face {
  font-family: cartoon;
  src: url(fonts/LuckiestGuy.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
}
*:hover {
  transition: all ease 0.5s;
}

body {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

p, a, li {
  margin: 10px;
}

nav {
  background-color: black;
  height: 100px;
  width: 100%;
  text-align: center;
}
nav a {
  margin: 0;
}
nav a img {
  width: 250px;
  height: 100px;
}

.slider .hidden {
  display: none;
}
.slider #desc_section {
  height: 90.1vh;
  background: url("../css/img/minecraftCover.png") center;
  background-size: cover;
  text-align: center;
  font-family: comic;
}
.slider #desc_section h1 {
  opacity: 0;
  padding-top: 10vh;
  margin-bottom: 50px;
  font-size: 50px;
}
.slider #desc_section p {
  opacity: 0;
  font-weight: 900;
  font-size: 20px;
  padding: 20px;
  line-height: 30px;
}
.slider #desc_section .serverLink {
  opacity: 0;
  color: brown;
  font-size: 35px;
  -webkit-text-stroke: 1.5px black;
}
.slider #join_section {
  height: 90.1vh;
  background: url("../css/img/joinBackground.gif") center;
  background-size: cover;
  text-align: center;
  color: white;
  font-family: cartoon;
  -webkit-text-stroke: 1px black;
}
.slider #join_section h1 {
  opacity: 0;
  padding-top: 10vh;
  margin-bottom: 50px;
  font-size: 55px;
}
.slider #join_section p {
  opacity: 0;
  font-size: 25px;
  margin: 50px;
  -webkit-text-stroke-width: 1.5px;
}
.slider #mods_section {
  height: 90.1vh;
  background: url("../css/img/modsBackground.gif") center;
  background-size: cover;
  text-align: center;
}
.slider #mods_section h1 {
  color: white;
  opacity: 0;
  font-family: bold;
  font-size: 40px;
}
.slider #mods_section .downloadContener {
  opacity: 0;
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 410px;
  padding: 20px;
  font-family: cartoon;
}
.slider #mods_section .downloadContener h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.slider #mods_section .downloadContener img {
  margin-top: 15px;
  border-radius: 5px;
  width: 230px;
  height: 240px;
}
.slider #mods_section #first {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  box-shadow: 1px 1px 20px;
  z-index: 2;
}
@media (max-width: 600px) {
  .slider #mods_section #first {
    top: 65%;
  }
}
.slider #mods_section #second {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 36%;
}
@media (max-width: 1150px) {
  .slider #mods_section #second {
    left: 25%;
  }
}
.slider #mods_section #third {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 64%;
  left: 64%;
}
@media (max-width: 1150px) {
  .slider #mods_section #third {
    left: 76%;
  }
}
.slider #additionalInfo_section {
  height: 90.1vh;
  background: url("../css/img/modsCover.png") center;
  background-size: cover;
  text-align: center;
  background-repeat: repeat;
  color: white;
  text-align: center;
}
.slider #additionalInfo_section h1 {
  font-family: bold;
  font-size: 40px;
  padding-top: 10vh;
  margin-bottom: 50px;
}
.slider #additionalInfo_section ul {
  opacity: 0;
}
.slider #additionalInfo_section li {
  font-family: light;
  margin: 0;
  line-height: 40px;
}

.scrollDown {
  position: absolute;
  top: 85vh;
  right: 50%;
  animation: scrollDownIcon 5s infinite;
}
@media (max-width: 600px) {
  .scrollDown {
    display: none;
  }
}

footer {
  background-color: black;
  font-family: comic;
  color: white;
  height: 85px;
  text-align: center;
}
footer p {
  float: left;
  padding-left: 30px;
  padding-top: 36px;
  margin: 0;
}
@media (max-width: 600px) {
  footer p {
    padding-left: 15px;
  }
}
footer i {
  float: right;
  padding-right: 30px;
  padding-top: 30px;
  color: white;
  font-size: 30px;
}
footer i:hover {
  color: gray;
}
@media (max-width: 600px) {
  footer i {
    padding-right: 20px;
    padding-top: 37px;
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  footer .fa-github {
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
  }
}

@keyframes scrollDownIcon {
  0% {
    top: 85vh;
  }
  50% {
    top: 90vh;
  }
  100% {
    top: 85vh;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */