@font-face {
    font-family: light;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: comic;
    src: url(fonts/ComicNeue-Bold.ttf);
}
@font-face {
    font-family: cartoon;
    src: url(fonts/LuckiestGuy.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
    &:hover {
        transition: all ease 0.5s;
    }    
}

body {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

p, a, li {
    margin: 10px;
}