@import "./config";
@import "./variables";

nav {
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
    img {
        width: 250px;
        height: 100px;
    }
}

.slider {
    .hidden {
        display: none;
    }
    #desc_section {
        @include section("/css/img/minecraftCover.png");
        h1 {
            margin: 0;
            margin-bottom: 50px;
            padding-top: 20vh;
            font-size: 40px;
        }
        p {
            font-weight: weight(bold);
            font-size: 20px;
            padding: 20px;
            line-height: 30px;
        }
        .serverLink {
            font-family: comic;
            color: green;
            font-size: 35px;
            -webkit-text-stroke: 1px black;
        }
    }
    #join_section {
        @include section("/css/img/newsCover.png");
        h1 {
            margin-top: 0;
            padding-top: 15vh;
            font-size: 40px;

        }
    }
}

.scrollDown {
    position: absolute;
    top: 85vh;
    right: 50%;
    animation: scrollDownIcon 5s infinite;
}

@keyframes scrollDownIcon {
    0% {
        top: 85vh;
    } 50% {
        top: 90vh;
    } 100% {
        top: 85vh;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}