@import "./config";
@import "./variables";


nav {
    background-color: black;
    height: 100px;
    width: 100%;
    text-align: center;
    img {
        width: 250px;
        height: 100px;
    }
}

.slider {
    .hidden {
        display: none;
    }
    #desc_section {
        @include section("/css/img/minecraftCover.png");
        h1 {
            @include animationSet();
            font-size: 50px;
            font-family: bold;
        }
        p {
            opacity: 0;
            font-weight: weight(bold);
            font-size: 20px;
            padding: 20px;
            line-height: 30px;
            font-family: light;
        }
        .serverLink {
            opacity: 0;
            font-family: comic;
            color: brown;
            font-size: 35px;
            -webkit-text-stroke: 1.5px black;
        }
    }
    #join_section {
        @include section("/css/img/joinBackground.gif");
        color: white;
        font-family: cartoon;
        -webkit-text-stroke: 1px black;
        h1 {
            @include animationSet();
            font-size: 55px;
        }
        p {
            opacity: 0;
            font-size: 25px;
            margin: 50px;
            -webkit-text-stroke-width: 1.5px;
        }
    }
    #mods_section {
        @include section("/css/img/modsBackground.gif");
        h1 {
            color: white;
            opacity: 0;
            font-family: bold;
            font-size: 40px;
        }
        .downloadContener {
            opacity: 0;
            background-color: white;
            border-radius: 5px;
            width: 300px;
            padding: 20px;
            font-family: cartoon;
            h2 {
                padding-bottom: 5px;
                border-bottom: 1px solid;
            }
            img{
                margin-top: 15px;
                width: 230px;
                height: 240px;
            }
        }
        .first {
            @include modsConteners(55%, 50%);
            box-shadow: 1px 1px 20px;
            z-index: 2;
        }
        .second {
            @include modsConteners(60%, 36%);
            @include mobile(1150px) {
                left: 25%;
            }
        }
        .third {
            @include modsConteners(59%, 64%);
            @include mobile(1150px) {
                left: 76%;
            }
        }
    }
}

.scrollDown {
    position: absolute;
    top: 85vh;
    right: 50%;
    animation: scrollDownIcon 5s infinite;
}

@keyframes scrollDownIcon {
    0% {
        top: 85vh;
    } 50% {
        top: 90vh;
    } 100% {
        top: 85vh;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}